@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');

* {
	box-sizing: border-box;
	clear: both;
}

:root {
	--color0: #9fa2a7;
	--color1: #4b6cb7;
	--color2: #395591;
	--color3: #223458;
	--color4: #182848;
}

::placeholder {
	color: black;
}

html {
	background: linear-gradient(90deg, var(--color1) 0%, var(--color4) 100%);
	font-family: 'Comfortaa', cursive;
}

body {
	width: 100%;
	height: 100vh;
	padding: 15px;
	margin: 0;
}

h3 a,
a.main-post,
a.post,
a[title="category"],
a[title="author"] {
	text-decoration: none;
}

a:visited, header>div>form>button {
	color: var(--color3)
}
a:active {
	color: var(--color1)
}
a:link, a:hover, a:focus, header>div>form>button:focus, header>div>form>button:hover {
	color: var(--color2)
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header>div {
	display: flex;
	align-items: center;
	gap: 0.5ch;
}

header>div>a,
header>div>form>button {
	background: none;
	border: none;
	text-decoration: underline;
	font-family: 'Comfortaa', cursive;
	font-size: 1em;
	text-transform: capitalize;
	padding: 0;
	margin: 0;
}

form {
	margin: 0;
}

.content {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	border-radius: 10px;
	min-width: 750px;
	width: 50%;
	margin: 0 auto;
	padding: 15px 45px;
}

.comments {
	margin: .5em;
	font-size: 0.75em;
	display: flex;
	gap: 1em;
	flex-direction: column;
	flex-wrap: nowrap;
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #00000088;
	width: 100vw;
	height: 100vh;
	z-index: 99998;
}

.login, .sorry {
	z-index: 99999;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 360px;
	padding: 0 0;
}

.wrap {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	border-radius: 10px;
	margin: 0 auto;
	padding: 45px;
	text-align: center;
}

.form input,
.form select {
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	border-radius: 5px;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.form input:focus,
.form input:hover,
.form select:focus,
.form select:hover,
.form .select:focus *,
.form .select:hover * {
	background: #dbdbdb;
}

.form button {
	text-transform: uppercase;
	outline: 0;
	background: var(--color1);
	width: 100%;
	border: 0;
	border-radius: 5px;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	cursor: pointer;
}

.form button:disabled {
	background: var(--color0);
}

.form button:active:not(:disabled) {
	background: var(--color3);
}

.form button:hover:not(:disabled),
.form button:focus:not(:disabled) {
	background: var(--color2);
}

.form button.disabled {
	background: var(--color0);
}

input[name="password"] {
	width: calc(100% - 50px);
}

.icon {
	display: flex;
	justify-content: space-between;
}

.icon a {
	outline: 0;
	background: #f2f2f2;
	width: 45px;
	border: 0;
	border-radius: 5px;
	margin: 0 0 15px;
	padding: 12px 10px 0;
	box-sizing: border-box;
	font-size: 14px;
}

.icon a:focus,
.icon a:hover {
	background: #dbdbdb;
}

.icon a span {
	font-size: 23px;
	cursor: pointer;
	user-select: none;
}

.like {
	float: right;
	display: flex;
	align-items: center;
}

.like>button,
.main-post button,
.post button {
	color: var(--color4);
	background: none;
	border: none;
}

.like>button:focus,
.like>button:hover {
	color: var(--color2)
}

.like>button.liked,
.like>button.liked {
	color: var(--color1)
}

.post-content {
	float: left;
	display: flex;
	align-items: center;
}

.post:not(h2), .main-post:not(h2) {
	font-size: 1.25em;
	font-weight: bold;
}
.post h2, .main-post h2 {
	margin: 0;
}

.trash {
	opacity: 0;
	color: var(--color4);
}
.post .header, .main-post .header{
	display: flex;
	gap: 0.5ch;
	align-items: center;
}
.post .header a[title="author"], .main-post .header a[title="author"]{
	display: flex;
	align-items: center;
}
.post .header img, .main-post .header img {
	background-color: black;
	height: 1.5em;
	border-radius: 100%;
}
.post:hover .trash {
	opacity: 1;
}

.trash:hover {
	color: var(--color2);
}

.form form .group {
	display: flex;
	gap: 1ch;
}

.post-title {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0;
}

.profile {
	max-width: 20ch;
}

.search {
	display: flex;
	padding: 0;
}

.search button {
	width: 2em;
	height: 2em;
	padding: 2px;
}

.search input {
	height: 2em;
	width: 0;
	padding: 0;
	margin: 0;
	transition: all 0.5s;
}

.search:hover input,
.search input:focus {
	width: 8em;
	padding: 2px 1ch;
	transition: all 0.5s;
	margin-right: 0.5ch;
}

.form.comment.group .select {
	width: 50%;
}

.form.comment.group button {
	width: 50%;
}

.comments {
	display: flex;
	gap: 1em;
	flex-direction: column;
	flex-wrap: nowrap;
}

.comment.group {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 1ch;
}

.form.comment {
	padding: 0;
}

.form.create {
	padding: 0;
}

.form.create {
	padding: 0;
}

.create .group {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 1ch;
}

.form.create .group .select {
	width: 50%;
}

.form.create .group button {
	width: 50%;
}

.err {
	color: red;
}

#profile {
	display: flex;
	justify-content: space-between;
}

#profile img {
	background-color: black;
	width: 200px;
	height: 200px;
	border-radius: 100%;
}
#profile .info {
	text-align: left;
	display: flex;
	flex-direction: column;
	width: 200px;
}

#profile .action {
	width: 200px;
}

.hr-label {
	background-color: white;
	position: relative;
	bottom: -1em;
	left: 2ch;
	padding: 0 .5ch;
}

.scrolling-wrapper-flexbox {
	padding: .5em;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
	gap: 5%;
}
.scrolling-wrapper-flexbox .card {
	flex: 0 0 auto;
}
.scrolling-wrapper-flexbox .card a {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.scrolling-wrapper-flexbox .card a img {
	border-radius: 100%;
}
.posts {
	padding: .5em;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: .5em;
}
.login-label{
	display: flex; 
	gap: 2.5ch; 
	justify-content: center;
}
.login-label a {
	width: 10ch;
}
.sorry {
	font-size: 1.5em;
	width: 50ch;
	position: fixed;
	background: #FFFFFF;
	border-radius: 10px;
	margin: 0 auto;
	padding: 15px 45px;
}